pandas
numpy
scikit-learn
streamlit
sqlalchemy
matplotlib
altair
graphviz
networkx
sentence-transformers

langchain
langchain-openai
langchain-google-genai
langchain-anthropic
langchain-community
langgraph
langchain-text-splitters

faiss-cpu
pytest
python-dotenv
requests

reportlab
imbalanced-learn
tabulate
plotly
